In [13]:
!pip install joblib

Requirement already satisfied: joblib in /usr/local/lib/python3.5/dist-packages (0.11)
You are using pip version 19.0.2, however version 19.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

total 19G
drwxr-xr-x 3 root root 4.0K May 11 06:44 .
drwxr-xr-x 6 root root 4.0K May 11 06:34 ..
drwxr-xr-x 2 root root 4.0K May 11 06:37 .ipynb_checkpoints
-rw-r--r-- 1 root root   72 May 11 05:44 Untitled.ipynb
-rw-r--r-- 1 root root 2.1K May 11 06:44 Untitled1.ipynb
-rw-r--r-- 1 root root 2.1G May 11 05:42 newTTS.7z
-rw-r--r-- 1 root root  17G May 11 00:15 newTTS1.csv
-rw-r--r-- 1 root root 4.4M May 11 06:44 newTTS1_s.csv

In [19]:
import os
import re
from joblib import Parallel, delayed

In [ ]:
!head -n 100000 newTTS1.csv > newTTS1_s.csv

In [6]:
all_mail = {}
all_mail_code = set()
with open("newTTS1_s.csv", 'r') as mfile:
    for line in mfile:
        (mail_code, status, post_code, mtime) = line.strip().split(",")

        if not mail_code in all_mail_code:
            all_mail_code.add(mail_code)
            all_mail[mail_code] = []

        all_mail[mail_code].append((status, post_code, mtime))

In [7]:
all_mail_code = list(all_mail_code)

In [8]:
for mail_code in all_mail_code[:3]:
    print(mail_code, all_mail[mail_code])

00575724124878 [('A2', '241056', '2018-01-01 11:21:15')]
46382810028418406458 [('Y4', '400588', '2018-01-02 08:46:46'), ('I4', '400588', '2018-01-02 14:13:46')]
46409510028418423537 [('Y4', '420018', '2018-01-02 08:39:11'), ('H4', '420018', '2018-01-02 16:24:56')]

In [15]:
def makeNodeEdge(mail_proc):
    results = []
    for idx in range(len(mail_proc)-1):
        (frm_status, frm_post_code, frm_mtime) = mail_proc[idx]
        (to_status, to_post_code, to_mtime) = mail_proc[idx+1]
        results.append( (frm_status, to_status, frm_post_code, to_post_code, frm_mtime, to_mtime) )
    return results
makeNodeEdge(all_mail["15778340102018"])

[('A1',
  'Z4',
  '400020',
  '400672',
  '2018-01-02 15:42:00',
  '2018-01-02 21:06:53')]

In [23]:
all_edges = Parallel(n_jobs=-1)(delayed(makeNodeEdge)(all_mail[mail_code] ) for mail_code in all_mail_code)

In [29]:
print( all_edges[:3])

[[], [('Y4', 'I4', '400588', '400588', '2018-01-02 08:46:46', '2018-01-02 14:13:46')], [('Y4', 'H4', '420018', '420018', '2018-01-02 08:39:11', '2018-01-02 16:24:56')]]

In [27]:
flat_all_edges = [y for x in all_edges for y in x]

In [28]:
flat_all_edges[:3]

[('Y4',
  'I4',
  '400588',
  '400588',
  '2018-01-02 08:46:46',
  '2018-01-02 14:13:46'),
 ('Y4',
  'H4',
  '420018',
  '420018',
  '2018-01-02 08:39:11',
  '2018-01-02 16:24:56'),
 ('A1',
  'Z4',
  '704027',
  '704672',
  '2018-01-02 17:08:00',
  '2018-01-02 21:13:18')]

In [56]:
import pandas as pd

In [57]:
df = pd.DataFrame(flat_all_edges)

In [58]:
df.columns = ["frm_status", "to_status", "frm_post_code", "to_post_code", "frm_mtime", "to_mtime"]

In [59]:
df['frm_mtime'] = pd.to_datetime(df['frm_mtime'])
df['to_mtime'] = pd.to_datetime(df['to_mtime'])

In [60]:
df['diff_mtime'] = df['to_mtime'] - df['frm_mtime']

In [64]:
df['frm_init'] = df['frm_status'].str.slice(0,1)
df['to_init'] = df['to_status'].str.slice(0,1)

In [73]:
df['frm_code'] = df['frm_post_code'] + "-" + df['frm_init']
df['to_code'] = df['to_post_code'] + "-" + df['to_init']

In [80]:
ndf = df[['frm_init', 'to_init', 'frm_code', 'to_code', 'diff_mtime']]

In [81]:
ndf.set_index(['frm_init', 'to_init'], inplace=True)

In [82]:
ndf.loc[('A', 'A')].diff_mtime.mean()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

Timedelta('0 days 01:09:33.333333')

In [112]:
mean_time = []
for frm_scode in sorted(df.frm_init.unique()):
    for to_scode in sorted(df.to_init.unique()):
        if (frm_scode, to_scode) in ndf.index:
            mean_time.append(((frm_scode, to_scode), 
                   len(ndf.loc[(frm_scode, to_scode)]), 
                   ndf.loc[(frm_scode, to_scode)].diff_mtime.mean(),
                   ndf.loc[(frm_scode, to_scode)].diff_mtime.var() ))

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
  import sys
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.

In [113]:
mean_df = pd.DataFrame(mean_time)

In [114]:
mean_df.columns = ['frm_to', 'cntr', 'mean', 'var']

In [142]:
mean_df.sort_values("cntr", ascending = False)

    frm_to   cntr                   mean           var
63  (Y, I)  25966 0 days 06:16:44.516174  2.163592e+26
5   (A, Z)   7996 0 days 06:02:09.093671  9.133730e+25
62  (Y, H)   4064 0 days 05:10:07.527312  3.026559e+25
77  (Z, Y)    799 0 days 02:44:59.385481  5.076295e+25
71  (Z, G)    718 0 days 04:15:08.837047  1.667067e+27
22  (H, Z)    554 0 days 03:40:42.234657  6.001645e+25
8   (G, I)    533 0 days 03:12:07.163227  1.787983e+27
21  (H, Y)    372 0 days 04:02:11.962365  4.262154e+25
45  (T, Z)    319 0 days 03:19:42.711598  8.813619e+25
61  (Y, G)    269 0 days 03:26:02.431226  7.973696e+26
39  (P, Y)    267 0 days 15:06:11.142322  1.208082e+28
78  (Z, Z)    250 0 days 06:58:56.644000  1.676431e+26
56  (X, H)    188 0 days 04:50:03.776595  1.304757e+27
54  (W, I)     96 0 days 10:00:47.072916  5.506629e+27
3   (A, V)     75 0 days 00:05:08.800000  1.330511e+24
26  (I, I)     71 0 days 02:48:39.239436  8.081091e+25
68  (Y, Y)     48 0 days 02:37:20.479166  2.032344e+27
16  (H, P)     47 0 days 03:12:11.638297  6.468410e+25
2   (A, P)     44 0 days 02:35:02.136363  5.229333e+25
40  (P, Z)     44 0 days 14:11:02.431818  1.118144e+28
19  (H, W)     38 0 days 01:22:26.131578  5.762586e+25
46  (V, A)     34 0 days 00:08:58.235294  3.570215e+24
57  (X, I)     30 0 days 08:18:28.933333  4.431700e+26
1   (A, I)     29 0 days 03:22:30.586206  5.251720e+25
15  (H, I)     29 0 days 02:19:23.965517  4.265062e+25
20  (H, X)     24 0 days 03:26:29.666666  6.592785e+25
60  (Y, A)     24 0 days 00:58:49.541666  3.944136e+24
36  (P, P)     21 0 days 06:14:26.523809  8.546597e+26
0   (A, A)     18 0 days 01:09:33.333333  2.036085e+25
14  (H, H)     16 0 days 02:11:40.125000  8.127351e+25
..     ...    ...                    ...           ...
64  (Y, P)      5 0 days 01:30:16.800000  9.521829e+25
48  (V, I)      5        0 days 02:04:40  8.103970e+25
33  (I, Z)      4 0 days 03:34:00.250000  2.580342e+23
27  (I, P)      4 0 days 02:51:50.500000  7.189277e+25
49  (V, P)      3 0 days 02:17:50.666666  6.391273e+25
38  (P, X)      3 0 days 03:55:00.333333  4.645217e+24
53  (W, H)      3 0 days 09:38:05.333333  3.489028e+27
37  (P, W)      3        0 days 11:50:44  3.100106e+25
76  (Z, X)      2 0 days 04:57:44.500000  3.338270e+26
10  (G, T)      2        1 days 11:53:54  3.337184e+28
70  (Z, A)      2 0 days 00:22:24.500000  1.445000e+20
67  (Y, X)      2        1 days 21:53:30  4.462220e+28
30  (I, W)      2 0 days 00:35:37.500000  4.301244e+24
51  (V, Y)      2 0 days 02:02:57.500000  1.066530e+26
23  (I, A)      1        0 days 00:30:06           NaN
18  (H, V)      1        0 days 01:52:45           NaN
43  (T, I)      1        0 days 03:34:12           NaN
75  (Z, W)      1        0 days 04:56:07           NaN
11  (G, Y)      1        0 days 00:30:00           NaN
41  (S, G)      1        0 days 00:36:48           NaN
72  (Z, H)      1        0 days 04:56:55           NaN
44  (T, T)      1        0 days 06:48:38           NaN
28  (I, T)      1        0 days 00:53:40           NaN
69  (Y, Z)      1        0 days 07:30:53           NaN
55  (X, A)      1        0 days 01:49:27           NaN
58  (X, V)      1        0 days 04:30:49           NaN
66  (Y, W)      1        0 days 01:37:35           NaN
31  (I, X)      1        0 days 00:41:05           NaN
7   (G, H)      1        0 days 02:00:25           NaN
12  (G, Z)      1        0 days 00:58:36           NaN

[79 rows x 4 columns]

# from A-> Z

In [159]:
post_office_df = df[df['frm_init'].str.contains('A') & df['to_init'].str.contains('Z')][['frm_post_code', 'to_post_code', 'diff_mtime']]
post_office_df.set_index(['frm_post_code', 'to_post_code'], inplace=True)

In [160]:
pos_mean_time = []
for frm_pos in df.frm_post_code.unique():
    for to_pos in df.to_post_code.unique():
        if (frm_pos, to_pos) in post_office_df.index:
            want_data = len(post_office_df.loc[(frm_pos, to_pos)])
            if want_data >10:
                pos_mean_time.append(((frm_pos, to_pos), 
                want_data, 
                post_office_df.loc[(frm_pos, to_pos)].diff_mtime.mean() ))

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: PerformanceWarning: indexing past lexsort depth may impact performance.
  """
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.
  if __name__ == '__main__':

In [161]:
pos_mean_time_df = pd.DataFrame(pos_mean_time, columns=["frm_to", 'cntr', 'mean'])

In [162]:
pos_mean_time_df.sort_values("mean", ascending=False)

              frm_to  cntr            mean
32  (300004, 400672)    40 11:38:11.200000
74  (900033, 800672)    21 10:32:21.619047
46  (400034, 400672)    20 09:27:28.600000
1   (420032, 400672)    12 09:23:50.583333
66  (300017, 400672)    11 09:18:21.818181
33  (640017, 400672)    15 08:55:58.400000
52  (830061, 800672)    11 08:33:33.727272
42  (540023, 400672)    19 08:21:11.684210
53  (420004, 400672)    16 08:13:23.375000
49  (540022, 400672)    23 08:09:32.304347
56  (400025, 400672)    29 08:07:01.482758
61  (420450, 400672)    20 07:50:26.200000
41  (830013, 800672)    26 07:47:10.846153
48  (800093, 800672)    17 07:40:51.529411
16  (400029, 400672)   213 07:39:15.126760
10  (400010, 400672)   210 07:30:02.804761
12  (400003, 400672)   191 07:26:41.842931
17  (400014, 400672)    26 07:26:25.615384
34  (400026, 400672)   122 07:20:05.696721
60  (400027, 400672)    89 07:16:59.629213
68  (830027, 800672)    11 07:15:23.818181
25  (100012, 091813)   101 07:15:18.821782
45  (400036, 400672)    43 07:14:01.976744
50  (540017, 400672)    19 07:12:25.947368
76  (830064, 704672)    17 07:01:25.823529
20  (360023, 400672)    20 06:54:59.200000
37  (400015, 400672)    16 06:52:27.937500
64  (400019, 400672)    31 06:51:31.322580
5   (704029, 704672)   367 06:51:10.602179
4   (704031, 704672)   743 06:44:52.751009
..               ...   ...             ...
38  (400016, 400672)    88 05:13:22.159090
15  (400008, 400672)    85 05:12:38.600000
22  (400022, 400672)   208 05:12:24.341346
39  (400009, 400672)    77 05:08:59.714285
9   (800027, 800672)    30        05:07:58
0   (704027, 704672)  1175 05:05:58.378723
59  (400035, 400672)    29 05:05:06.241379
35  (830065, 800672)    15 05:04:57.333333
85  (400043, 400672)    13 05:04:23.307692
27  (400046, 400672)    38 05:03:09.447368
75  (300020, 400672)    22 05:00:10.500000
69  (800062, 800672)    17 04:58:39.529411
58  (300003, 400672)    12 04:49:19.500000
57  (800070, 800672)    27 04:43:59.111111
55  (400028, 400672)    21 04:41:04.285714
44  (400021, 400672)    11 04:39:42.727272
40  (400039, 400672)    17 04:37:52.588235
79  (400070, 400672)    11 04:36:59.545454
2   (830045, 800672)    18 04:32:52.444444
28  (400065, 400672)    14 04:31:24.142857
7   (100020, 091813)   293 04:29:44.525597
43  (100017, 091813)   130 04:25:26.584615
6   (400063, 400672)    16 04:19:18.250000
73  (400050, 400672)    25 04:02:55.240000
29  (800451, 800672)    33 04:01:09.727272
26  (800007, 800672)    86 03:57:25.186046
62  (100013, 091813)    49 03:56:16.408163
47  (830000, 800672)    85 03:55:43.847058
86  (800054, 800672)    14 03:29:41.500000
3   (420026, 420026)    22 02:04:18.454545

[88 rows x 3 columns]

In [163]:
pos_mean_time_df ['cntr'].sum()

6893

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: PerformanceWarning: indexing past lexsort depth may impact performance.
  """
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.
  if __name__ == '__main__':

7996